// Custom global colors

// Default global colors
$colorText:#000;
$colorBtn: #2c715b;
$bgSection: #e8ebf1;
$bgBody: #fff;
$bgFooter: #f6f6f6;
$colorLink: #2aacc8;
$colorBlue: #e8fcfe;
$colorSwiper: #81e4ed;
$colorLine: #e7e7e7;
// Widths
$minWidth: 320px;
$maxWidth: 1000px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: 'acrom', Arial, Helvetica, sans-serif;
$_21px: 1.3125em;
$mainFont: 0.8125em;



//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';