#footer{
  &.site-footer{
    background: $bgSection;
    padding: 35px 0;
    .container{
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      .site-footer__box-one{
        width: 235px;
        height: 180px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        p{
          padding-top: 25px;
        }
      }
      .site-footer__box {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
        .site-footer__box-four {
          display: flex;
          flex-direction: column;
          .adress {
            line-height: 18px;
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            padding-top: 15px;
            span {
              font-weight: bold;
            }
          }
        }
      .site-footer__box-link{
        line-height: 26px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
        a{
          color: $colorText;
        }
      .site-footer__icons{
        display: flex;
        flex-direction: row;
        a{
          padding: 20px 15px 0 0;
        }
      }
      .site-footer__icons-second{
        display: flex;
        flex-direction: row;
        a{
          padding: 5px 15px 0 0;
        }
      }
      }
      .footer__bottom{
        .container{
        display: flex;
          flex-direction: row;
        justify-content: space-between;
          .copyright{
            padding-top: 12px;
            padding-right: 180px;
          }
      }
      }
    }
  }
