#footer{
  &.site-footer{
    background: $bgSection;
    .container {
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      font-size: 14px;
      .footer__top {
        display: flex;
        justify-content: space-between;
        .site-footer__box-one {
          width: 270px;
                    display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
            padding-top: 25px;
          }
        }
        .site-footer__box {
          display: flex;
          flex-direction: column;
        }
        .site-footer__box-four {
          display: flex;
          flex-direction: column;
          width: 170px;
          h3{
            padding-bottom: 4px;
          }
          .adress {
            line-height: 18px;
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            padding-top: 15px;
            span {
              font-weight: bold;
            }
          }
        }
        .site-footer__box-link {
          display: flex;
          flex-direction: column;
          width: 130px;
          h3{
            padding-bottom: 5px;
          }
        }
        a {
          color: $colorText;
          line-height:26px;
        }
        .site-footer__icons {
          display: flex;
          flex-direction: row;
          a {
            padding: 20px 15px 0 0;
          }
          a:last-child{
            padding-right: 0;
          }
        }
        .site-footer__icons-second {
          display: flex;
          flex-direction: row;
          a {
            padding: 5px 15px 0 0;
          }
          a:last-child{
            padding-right: 0;
          }
        }
      }
    }
      .footer__bottom{
        margin-top: 55px;
        display: flex;
          flex-direction: row;
        justify-content: space-between;
          .copyright{
            width: 72%;
          }

      }
    }
  }
