#main {
  .container {
    .main-portfolio__caption {
      margin-top: 38px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      border-bottom: 1px solid $colorLine;
      padding-bottom: 15px;
      h3 {
        padding-left: 15px;
      }
    }
    #filters {
      border-bottom: 1px solid $colorLine;

      button {
        border: none;
        background: none;
        padding: 20px 15px;
        &:hover {
          background: $colorSwiper;
        }
      }
    }
    .isotope {
      margin: 40px 0;
      border-bottom: 1px solid $colorLine;
      .item{
        float: left;
        width: 220px;
        margin: 0 30px 35px 0;
      }
      div:nth-child(4n+4){
        margin-right: 0;
      }
        .grid-item{
          position: relative;
          .box_blue {
            background: url(/public/images/box_blue.png);
            width: 220px;
            height: 81px;
            position: absolute;
            top: 50%;
            left: 0;
            display: flex;
            justify-content: space-between;
            opacity: 0;
            .eye {
              padding-left: 70px;
              padding-top: 30px;
            }
            .lock {
              padding-right: 60px;
              padding-top: 27px;
            }
          }
            &:hover {
              .box_blue {
                opacity: 1;
                transition: 1s;
              }
            }
        }


      }
    }
  }

